name: Build GitHub Pages

on:
  push:
    branches:
      - master

jobs:
  build-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Install RenPy
        uses: PaxlavaGames/renpy-install@v0.3.0
        with:
          version: "8.5.1"
          download_web: "yes"
      - name: Build RenPy
        uses: PaxlavaGames/renpy-web-build@v0.2.0
      - name: Setup Pages
        uses: actions/configure-pages@v4
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './web_build'
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4