name: Build GitHub Pages

on:
  push:
    paths:
      - 'UnfinishedBook/**'
      - 'patch/**'
      - '.github/workflows/build-pages.yml'

jobs:
  build-pages:
    runs-on: self-hosted
    permissions:
      id-token: write
      pages: write
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Install RenPy
        uses: PaxlavaGames/renpy-install@v0.3.0
        with:
          version: "8.5.1"
          download_web: "yes"

      - name: Apply debug output disable patch
        run: git apply patch/disable-debug-output.patch

      - name: Apply project info patch
        run: git apply patch/add-project-info.patch

      - name: Clean up large files for web deployment
        run: |
          git apply patch/update-screens.patch
          rm UnfinishedBook/game/albbpht.otf

      - name: Apply progressive download patch
        run: git apply patch/add-progressive-download.patch

      - name: Copy web assets
        run: |
          cp UnfinishedBook/game/images/main_menu/main.jpg UnfinishedBook/web-presplash.jpg
          cp UnfinishedBook/game/gui/window_icon.png UnfinishedBook/web-icon.png

      - name: Build RenPy
        uses: PaxlavaGames/renpy-web-build@v0.2.0
        with:
          path: './UnfinishedBook'

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: './web_build'

      - name: Deploy to GitHub Pages
        id: deployment-github
        uses: actions/deploy-pages@v4

      - name: Set up Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 'latest'

      - name: Deploy to Cloudflare Pages
        id: deployment-cloudflare
        uses: cloudflare/wrangler-action@v3
        with:
          wranglerVersion: '4.67.0'
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          command: |
            pages deploy web_build --project-name unfinished-book --branch master
